#pip install -r requirements.txt

certifi            2022.6.15
charset-normalizer 2.1.0
colorama           0.4.5
docutils           0.19
idna               3.3
Kivy               2.1.0
kivy-deps.angle    0.3.2
kivy-deps.glew     0.3.1
kivy-deps.sdl2     0.4.5
Kivy-Garden        0.1.5
kivymd             1.0.2
Pillow             9.2.0
pip                22.2.2
plyer              2.0.0
Pygments           2.12.0
pypiwin32          223
pywin32            304
qrcode             7.3.1
requests           2.28.1
setuptools         63.2.0
urllib3            1.26.11
wheel              0.37.1
